@model IEnumerable<Team>

<a asp-action="Index" asp-controller="Home" asp-route-teamid="">Home</a>
<br />

@foreach (var x in Model)
{
    
    <a asp-action="Index" asp-controller="Home" 
       asp-route-teamid="@x.TeamId"
       asp-route-teamname="@x.TeamName" asp-active-route asp-hide-if-active="false">
        <mark>@x.TeamName</mark></a>
    <br />
}